/*
Author: Pozo Marius (DON'T CHANGE THIS)
WORK IN PROGRESS
*/

/* Main page effects */

* {   /* Reset minimal */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  color: #222;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  padding: 1rem;
  background-color: #ccdddd;
}

a[target] {
  font-weight: 700;
}

ul, ol {
  padding-left: 1rem;
}

h1, h2, h3 {
  font-family: 'Bahnschrift', sans-serif;
}

/* site-header : first box only */

.header {
  text-align: center;
  padding: 2rem 1rem;
  background: rgb(230, 230, 230);
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(20, 20, 40, 0.05);
}

.header h1 {
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
  color: #000066
}

.header-text {
  color: black;
  font-size: 0.95rem;
}

/* nav line */

.main-nav {
  margin: 1rem auto;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.main-nav a {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  display: inline-block;
}

.main-nav a:hover {
  background: rgba(0, 0, 0, 0.05);
}

main {
  flex: 1 0 auto;
  max-width: 900px;
  margin: 1.25rem auto;
}

@media (min-width: 640px) {
  .main-nav ul {
    gap: 1.5rem;
  }
}

/* End of heading zone */

section {
  background: white;
  padding: 1rem 1.25rem;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(20, 20, 40, 0.03);
  margin-bottom: 1rem;
}

section h2 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

section h3 {
  margin-bottom: 0.2rem;
  font-size: 1.05rem;
  margin-left: 0.5rem;
  margin-top: 0.6rem;
}

section ul li {
  font-weight: 500;
}

.site-footer {
  text-align: center;
  padding: 0.75rem 0;
  color: #666;
  font-size: 0.9rem;
}

@media (min-width: 420px) {
  body {
    padding: 2rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 1rem;
    align-items: start;
  }

  .box {
    grid-column: 1 / 3;
    text-align: justify;
  }

  #about, #features {
    grid-column: 1 / 2;
    text-align: justify;
  }

  #highlight {
    grid-column: 2 / 3;
  }

  #special-message {
    grid-column: 1 / 3;
    text-align: justify;
    color: #000000;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container img {
    max-width: 500px;
    justify-content: center;
    height: auto;
  }

  .text {
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
}